# Secrets:
DATABASE_PASSWORD=<INSERT A STRONG PASSWORD HERE>
JWT_SECRET_KEY=<INSERT A SECRET KEY HERE (UUID)>

# Default paths:
PATH_DB=./data/db
PATH_ASSETS=./data/assets
PATH_AUDIOASSETS=./data/audio_assets

# For SSL, configure the following: 
#NGINX_CONF=./conf/nginx-{dev,prod}-ssl.conf
#SSL_CERT=<path to your SSL certificate>
#SSL_PRIVKEY=<path to your SSL private key>
